<?xml version = "1.0" encoding = "UTF-8"?>
<suite name="Users">
    <listeners>
        <listener class-name = "test.java.utils.CustomListener" />
    </listeners>

    <test name="Users">

        <classes>

            <class name="test.java.tests.Users"/>

        </classes>

    </test>

</suite>